{% extends 'books/base.html' %}

{% block body %}
    <html>
        <head>

        </head>
        <body>
            <ul>
                <!--{ % for book in all_books -->
                {% for book in object_list %}
                    <!-- replaced static url with dynamic url also adding name space-->
                    <li><a href="{% url 'books:detail' book.id %}">{{ book.name }},{{ book.author }}</a></li>
                    <img src="{{ book.book_image }}">
                {% endfor %}
            </ul>
        </body>
    </html>
{% endblock %}



